<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME</title>

    <style>
        div {
            line-height: 0;
        }
    </style>
</head>
<body>
    <h1>HELLOOOOOOOOOOOOO AND WELCOOOOOOOME!</h1>
    <div>
    <p> _   _ _____ _     _     ___  </p>
    <p>| | | | ____| |   | |   / _ \ </p>
    <p>| |_| |  _| | |   | |  | | | |</p>
    <p>|  _  | |___| |___| |__| |_| |</p>
    <p>|_| |_|_____|_____|_____\___/ </p>
    </div>

    <img src="C:/Users/Geree/Desktop/hello.png" alt="hello">
</body>
</html>